@model List<MVC.Sample.Models.UserInfo>
    @{
        ViewBag.Title = "Index";
    }
    <table class="table">
        <tr>
            <th>ID</th>
            <th>UserName</th>
            <th>Age</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.UserName</td>
                <td>@item.Age</td>
            </tr>
        }
    </table>