@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-danger">
    <div class="panel-body">
        <div class="alert alert-danger" role="alert">未发现资源</div>
    </div>
</div>