<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="学习项目.Properties.Settings._916TestConnectionString" connectionString="Data Source=.;Initial Catalog=916Test;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
