<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <script src="../Scripts/angular.js"></script>
    <style type="text/css">
        body {
            color: #9622dc;
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bolder;
        }

        legend {
            color: #e96cee;
        }
    </style>
</head>
<body>
    <div ng-app="myapp">
        <fieldset>
            <legend>ng-model</legend>
            <p>名字 : <input type="text" ng-model="name"></p>
            <h1>Hello {{name}}</h1>
        </fieldset>

        <fieldset>
            <legend>ng-app,controller</legend>
            <div>
                <div ng-controller="HelloController">
                    <h2>你好 ！第一个{{helloTo.title}}程序示例</h2>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>ng-model,ng-bind</legend>
            <div>
                <p>
                    My Name:
                    <input type="text" ng-model="myName">
                </p>
                <p>Hello,<span ng-bind="myName"></span></p>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                ng-init，使用数字,字符串,对象,数组
            </legend>
            <div ng-init="quantity=1;cost=30; student={firstname:'李',lastname:'刚',rollno:101};marks=[82,91,78,77,64]">
                <p>Hello {{student.firstname + " " + student.lastname}}!</p>
                <p>Expense on Books : {{cost * quantity}} Rs</p>
                <p>Roll No: {{student.rollno}}</p>
                <p>Marks(Math): {{marks[3]}}</p>
            </div>
        </fieldset>
    </div>
    <script type="text/javascript">
        angular.module("myapp", []).
                controller("HelloController", function ($scope) {
                    $scope.helloTo = {};
                    $scope.helloTo.title = "AngularJS";
                });
    </script>
</body>
</html>