<?xml version="1.0"?>
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8.1"/>
    <httpRuntime targetFramework="4.6"/>
    <!--老版本配置-->
    <!--<httpHandlers>
      <add verb="*" path="proList.aspx" type="ForBeginer.ProductListHandler" />
      <add verb="*" path="AddPro.aspx" type="ForBeginer.AddProductHandler" />
      <add verb="*" path="ToList.aspx" type="ForBeginer.DeleteProductHandler" />
      <add verb="*" path="Update.aspx" type="ForBeginer.UpdateProductHandler" />
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Template/AddProducts.html"/>
      </files>
    </defaultDocument>
    <!--新配置-->
    <handlers>
      <add verb="*" path="proList.aspx" type="ForBeginer.ProductListHandler" name="ProductListHandler"/>
      <add verb="*" path="AddPro.aspx" type="ForBeginer.AddProductHandler" name="ProductAddHandler"/>
      <add verb="*" path="ToList.aspx" type="ForBeginer.DeleteProductHandler" name="ProductDeleteHandler"/>
      <add verb="*" path="Update.aspx" type="ForBeginer.UpdateProductHandler" name="ProductUpdateHandler"/>
    </handlers>
  </system.webServer>
</configuration>