<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>c9YIb55S4YMwkhMGBJ2bTWiZPjajuTp6LfXMkP++u6Lej/PaEKHFNj2wb/cydtbYD8NsXLi9KrJXDmHi0h6MVY7041ZvOUJZ7BmVIJBTPSZQNwCH7RpwxwJa+4bWceQITnzSMC5Sa9tjbf/f6V5c0Qehz/MaVWy0+xPRTZBrlGb2Fr3geVTFUo+V3crGhM8C3lbGL7PEmBPZC2guitiqcIbE9vjR7QFu7CnkvP189Tb6AX5Z7sLmw98zj5yd/6qzuHpavE3JlK9CDcGuyuPLx24XQnNQpTLXtpOmaOmqtAM530zH0G2WF7KTNwvmQJWd4Hyt94sRzbBBfdsk3eJIpA==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>7GMjJhqc4nXSYTF6aBQuHiYwpWug7RUVJkQQASrQMgc=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>