<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConString1" value="server=.;database=ExampleDb;uid=sa;pwd=sa"/>
  </appSettings>
  <connectionStrings>
    <add name="ConStringName1" connectionString="Data Source=.;Initial Catalog=ExampleDb;User ID=sa;Password=sa"/>
  </connectionStrings>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WFAppAdo.Net.Properties.Settings.ExampleDbConnectionString" connectionString="Data Source=.;Initial Catalog=ExampleDb;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
