<?xml version="1.0"?>
<configuration>
  <system.web>
    <!--<authentication mode="Forms">
      <forms loginUrl="Page\FormSample\Logon.aspx" defaultUrl="Page\FormSample\Default.aspx" name=".ASPXFORMSAUTH" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>-->
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.6.2"/>
  </system.web>
  <connectionStrings>
    <add name="db_PersonsConnectionString" connectionString="Data Source=.;Initial Catalog=ExampleDb;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="a" verb="*" path="Login" type="WebApp.Handler.Product_LoginHandler"/>
      <add name="b" verb="*" path="Register" type="WebApp.Handler.Product_RegisterHandler"/>
      <add name="c" verb="*" path="GoodsDetails" type="WebApp.Handler.Product_DisplayGoodsHandler"/>
      <add name="d" verb="*" path="BuyProduct" type="WebApp.Handler.Product_DetailGoodsHandler"/>
      <add name="e" verb="*" path="SubOrder" type="WebApp.Handler.Product_OrderHandler"/>
      <add name="f" verb="*" path="clogin" type="WebApp.Page.CookieSample.LoginHandler"/>
      <add verb="*" path="slogin" type="WebApp.Page.SessionSample.LoginHandler" name="loginHandler"/>
      <add verb="*" path="homepage" type="WebApp.Page.SessionSample.SesionHandler" name="SesionHandler"/>
    </handlers>
    <modules>
      <add name="testmodule" type="WebApp.HttpModule.ModuleTest"/>
    </modules>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="403"/>
      <error statusCode="403" path="/page/httpError403.aspx" prefixLanguageFilePath="xx" responseMode="ExecuteURL"/>
    </httpErrors>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.serviceModel>
    <services>
      <service name="WebApp.Api.Restapi" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="WebApp.Contract.IRestapi" behaviorConfiguration="web"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>

</configuration>