<table class="table table-bordered">
    <tr>
        <td>
            Title
        </td>
        <td>@ViewData["Title"]</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>
            @ViewData["Description"]
        </td>
    </tr>
</table> 