@{
    ViewBag.Title = "Servererror";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-danger">
    <div class="panel-body">
        <div class="alert alert-danger" role="alert">服务器内部错误</div>
    </div>
</div>