<!DOCTYPE html>

<html>    
    <head>
        <title>Arrays</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/script.js" defer></script>
    </head>
    <body>
        <ul id="programmingCourses">
            <li>C++</li>
            <li>C#</li>
            <li>Java</li>
        </ul>
        
        <ul id="webDevelopmentCourses">
            <li>PHP</li>
            <li>MySQL </li>
            <li>Grunt.js</li>
            <li>Compass</li>
            <li>Javascript</li>
        </ul>  
        
    </body>
</html>
