@using MVCSample.Models

@{
    ViewBag.Title = "About";
}

<h2>About</h2>

@foreach (Person item in (List<Person>) Model)
{
    <text>姓名： @item.Name</text>
    <text>年龄：@item.Age</text>
    <br />
}
