
@{
    ViewBag.Title = "SelectCategory";
}

<h2>SelectCategory</h2>

@using (Html.BeginForm("CategoryChosen", "Home", FormMethod.Get))
{
    <fieldset>
        Movie Type
        @Html.DropDownList("MovieType")
        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
}