<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <ul>
            <li>CTRL + S (save) - save file</li>

            <li>CTRL + C (copy) - copy</li>
            <li>CTRL + V - paste</li>

            <li>CTRL + X - cut</li>

            <li>CTRL + Z - undo the action</li>
            <li>CTRL + Y - redo the action</li>

            <li>CTRL + F (find) - looking in file</li>

            <li>CTRL + A (all) - selecting all files</li>

            <li>TAB - indent</li>
            <li>SHITF + TAB - back indent</li>

            <li>END / HOME - jump to the end / beginning of line</li>

            <li>SHIFT + END / SHIFT + HOME - selecting line to the end / to the beginning from the caret place</li>

            <li>SHIFT + STRZAŁKI up / down - selecting/deselecting full lines</li>
            <li>SHIFT + STRZAŁKI left / right - selecting a letter to the left / right</li>

            <li>CTRL + SHIFT + arrow keys left/right - selecting full word left/right</li>

            <li>CTRL + SHIFT + arrows keys down/up - copying full line down</li>

            <li>CTRL + HOME - jumping to the beginning of file</li>
            <li>CTRL + END - jumping to the end of file</li>

            <li>CTRL + SHIFT + HOME - selecting text from caret to the beginning of file</li>
            <li>CTRL + SHIFT + END - selecting text from caret to the end of file</li>
        </ul>
    </body>
</html>
