@{
    ViewBag.Title = "Json";
}
<div class="HeadersRow">
    <div id="HeaderTitle"> JSON格式化及高亮 &nbsp;&copy;&nbsp;2012&nbsp; &nbsp;<span style='color:#aaa;font-weight:bold;font-style:italic'>Random_Coder</span> </div>
</div>
<div id="ControlsRow">
    <table class="table table-bordered text-center">
        <tr>
            <td>
                <textarea id="RawJson" class="form-control" style="height:300px;"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <input class="btn btn-default" type="Button" value="格式化" onclick="Process()" />
                <select id="TabSize" onchange="TabSizeChanged()">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>&nbsp;&nbsp;
                <label>
                    <input type="checkbox" id="QuoteKeys" onclick="QuoteKeysClicked()" checked="checked">&nbsp;引号
                </label>
                <button class="btn btn-default" onclick="SelectAllClicked()">复制结果</button>

                <label for="CollapsibleView">
                    <input type="checkbox" id="CollapsibleView" onclick="CollapsibleViewClicked()" checked="checked" />
                    显示控制
                </label>
                <div class="btn-group" id="CollapsibleViewDetail">
                    <button type="button" class="btn btn-default" onclick="ExpandAllClicked()">展开</button>
                    <button type="button" class="btn btn-default" onclick="CollapseAllClicked()">叠起</button>
                    <button type="button" class="btn btn-default" onclick="CollapseLevel(3)">二级</button>
                    <button type="button" class="btn btn-default" onclick="CollapseLevel(4)">三级</button>
                    <button type="button" class="btn btn-default" onclick="CollapseLevel(5)">四级</button>
                    <button type="button" class="btn btn-default" onclick="CollapseLevel(6)">五级</button>
                    <button type="button" class="btn btn-default" onclick="CollapseLevel(7)">六级</button>
                    <button type="button" class="btn btn-default" onclick="CollapseLevel(8)">七级</button>
                    <button type="button" class="btn btn-default" onclick="CollapseLevel(9)">八级</button>
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="Canvas" class="Canvas">
</div>

<script type="text/javascript">
    window.ImgCollapsed = "@Url.Content("~/Scripts/json/Collapsed.gif")";
    window.ImgExpanded = "@Url.Content("~/Scripts/json/Expanded.gif")";

    $(document).ready(function() {
        $("#TabSize").select2({
            width: 120,
            placeholder: "---缩进量---"
    });
    });
</script>
