<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.6"/>
    <!--老版本配置-->
    <!--<httpHandlers>
      <add verb="*" path="proList.aspx" type="ForBeginer.ProductListHandler" />
      <add verb="*" path="AddPro.aspx" type="ForBeginer.AddProductHandler" />
      <add verb="*" path="ToList.aspx" type="ForBeginer.DeleteProductHandler" />
      <add verb="*" path="Update.aspx" type="ForBeginer.UpdateProductHandler" />
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Template/AddProducts.html"/>
      </files>
    </defaultDocument>
    <!--新配置-->
    <handlers>
      <add verb="*" path="proList.aspx" type="ForBeginer.ProductListHandler" name="ProductListHandler"/>
      <add verb="*" path="AddPro.aspx" type="ForBeginer.AddProductHandler" name="ProductAddHandler"/>
      <add verb="*" path="ToList.aspx" type="ForBeginer.DeleteProductHandler" name="ProductDeleteHandler"/>
      <add verb="*" path="Update.aspx" type="ForBeginer.UpdateProductHandler" name="ProductUpdateHandler"/>
    </handlers>
  </system.webServer>
</configuration>