<!DOCTYPE html>
<html>
    <head>
        <title>Events</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css"/>
        <script src="js/script.js" async></script>  
    </head>
    <body> 
        <form id="myForm">
            <select name="videoCourses">
                <option value="xhtmlicss">XHTML i CSS</option>
                <option>PHP</option>
                <option>MySQL</option>
                <option>Grunt.js</option>
                <option>SASS</option>
            </select>            
        </form>
        
        <div id="info"></div>
    </body>
</html>

