<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="_0423_2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="constring" value="server=.;database=MySchoolBase;uid=sa;pwd=sa"/>
    <add key="constring1" value="Data Source=.;Initial Catalog=MySchoolBase;Integrated Security=True"/>
  </appSettings>
  <connectionStrings>
    <add name="constring" connectionString="server=.;database=MySchoolBase;uid=sa;pwd=sa"/>
    <add name="constring1" connectionString="Data Source=.;Initial Catalog=MySchoolBase;Integrated Security=True"/>
  </connectionStrings>
  <applicationSettings>
    <_0423_2.Properties.Settings>
      <setting name="constring" serializeAs="String">
        <value>server=.;database=MySchoolBase;uid=sa;pwd=sa</value>
      </setting>
    </_0423_2.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
