@{
    ViewBag.Title = "Multiple file upload with asp.net mvc and HTML5";
}

@using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadForm" }))
{
    <div id="myUploader"></div>
}

@section scripts {
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/jquery.multiuploader.crop.js"></script>
    <script>
        $(document).ready(function () {
            $('#myUploader').imageUploaderCut({
                proceedCallBack: uploadCallBack
            });
            function uploadCallBack(jsonString) {
                $.ajax({
                    url: '/Home/UploadToServer',
                    type: 'POST',
                    dataType: 'json',
                    data: jsonString,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data, event) {
                        //do redirect
                    },
                    error: function (data, event) {
                        //do redirect
                    }
                });
            }
        });
    </script>
}