<!DOCTYPE html>

<html>    
    <head>
        <title>Events</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/script.js" defer></script>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
  
        <form id="newsletter">
            Email: <input type="text" id="email">
            
            <input type="submit" value="Send">
        </form>
        
        
        <div id="tmp"></div>
    </body>
</html>
