<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="name" connectionString="string" />
  <add name="AuthorizationDBEntities" connectionString="metadata=res://*/Models.AuthorizationModel.csdl|res://*/Models.AuthorizationModel.ssdl|res://*/Models.AuthorizationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AuthorizationDB;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>