
@{
    ViewBag.Title = "AjaxHelper";
}

<h2>AjaxHelper</h2>

<script src="../../Scripts/MicrosoftAjax.js" type="text/javascript"></script>
<script src="../../Scripts/MicrosoftMvcAjax.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
<h2>AjaxHelper</h2>
<script type="text/javascript">
    function Begin() {
        alert("Begin");
    }

    function OnSuccess() {
        alert("OnSuccess");
    }
</script>
@using (
    Ajax.BeginForm("DisplayPerson", new AjaxOptions
    {
        UpdateTargetId = "ajaxResult",
        LoadingElementId = "loading",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "AAlert",
        OnBegin = "Begin"
    }))
{
    <p>Name:@Html.TextBox("Name", string.Empty, new { style = "width=120px" })</p>
    <p>Age:@Html.TextBox("Age", string.Empty, new { style = "width=120px" })</p>
    <p>Telephone:@Html.TextBox("Telephone", string.Empty, new { style = "width=120px" })</p>
    <p>Comment:@Html.TextBox("Comment", string.Empty, new { style = "width=120px" })</p>

    <br />
    <input type="submit" value="Submit" />
}
<ul id="ajaxResult">Result</ul>