<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Controls" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net48" />
  <package id="LibGit2Sharp" version="0.26.2" targetFramework="net48" />
  <package id="LibGit2Sharp.NativeBinaries" version="2.0.306" targetFramework="net48" />
  <package id="Microsoft.Web.Administration" version="11.1.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.WindowsAPICodePack.Core" version="1.1.0" targetFramework="net462" />
  <package id="Microsoft.WindowsAPICodePack.Shell" version="1.1.0" targetFramework="net462" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net48" />
  <package id="System.Diagnostics.TraceSource" version="4.0.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Reflection.TypeExtensions" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Claims" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.0.0" targetFramework="net472" />
  <package id="System.ServiceProcess.ServiceController" version="4.1.0" targetFramework="net472" />
  <package id="WinCopies.Util" version="2.19.0" targetFramework="net48" />
  <package id="WinCopies.WindowsAPICodePack.Consts" version="2.12.0" targetFramework="net48" />
  <package id="WinCopies.WindowsAPICodePack.ExtendedLinguisticServices" version="2.12.0.1" targetFramework="net48" />
  <package id="WinCopies.WindowsAPICodePack.Win32Native" version="2.12.0" targetFramework="net48" />
  <package id="WindowsAPICodePack" version="1.1.3" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net48" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net48" />
  <package id="WindowsAPICodePack-ShellExtensions" version="1.1.1" targetFramework="net48" />
</packages>