@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
<div class="row panel panel-success">
    <div class="col-xs-12 col-md-8 panel-body">
        <div class="panel panel-success" style="box-shadow:2px 2px 3px #aaaaaa">
            <div class="panel-heading">
                <label class="title">《仙剑奇侠传》电影版开机 胡歌回归刘亦菲未定</label>
            </div>
            <div class="panel-body">
                <div>
                    <a class="btn-link">
                        时光网讯 今日微博盛传电影版《仙剑奇侠传》低调开机，并附有几张现场图片，但却未见演员身影。
                        继今年4月官方曝出将拍摄电影版的消息后，备受业内和粉丝关注的的《仙剑奇侠传》大电影终于在今日低调开机，并有多张开机现场图于网络曝光，只是未见演员身影。
                        有媒体向唐人电影核实这一消息，对方表示，电影确实于今日开拍，但对于演员何时入组和女主角人选问题则不方便透露。另有知情博主透露开机地点为雁荡山...........
                    </a>
                </div>
                <div>
                    <img class="thumbnail" style=" width: 49%;display: inline-block" src="~/Images/a.jpg" />
                    <img class="thumbnail" style=" width: 49%;display: inline-block" src="~/Images/a.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-2"></div>
                    <button type="button" class="btn btn-default btn-sm col-xs-2">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 赞
                    </button>
                    <button type="button" class="btn btn-default btn-sm col-xs-2">
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 踩
                    </button>
                    <button type="button" class="btn btn-default btn-sm col-xs-2">
                        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> 转发
                    </button>
                    <button type="button" class="btn btn-default btn-sm col-xs-2">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        收藏
                    </button>
                    <button type="button" class="btn btn-default btn-sm col-xs-2" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        评论
                    </button>
                </div>
                <div class="collapse" id="collapseExample1">
                    <div class="row" style="background-color: #ffffff">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="well well-sm" style="margin-bottom:1px;border:none">不错，很期待</div>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="well well-sm" style="margin-bottom:1px;border:none">什么时候上映</div>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="well well-sm" style="margin-bottom:1px;border:none">刘亦菲弱爆了,安以轩很不错</div>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="well well-sm" style="margin-bottom:1px;border:none">胡歌演技碉堡</div>
                    </div>
                    <div class="input-group">
                        <input class="form-control" placeholder="评论......." type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">评论</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success " style="box-shadow:2px 2px 3px #aaaaaa">
            <div class="panel-heading">
                <label class="title">《仙剑奇侠传》电影版开机 胡歌回归刘亦菲未定</label>
            </div>
            <div class="panel-body">
                <div>
                    <a class="btn-link">
                        时光网讯 今日微博盛传电影版《仙剑奇侠传》低调开机，并附有几张现场图片，但却未见演员身影。
                        继今年4月官方曝出将拍摄电影版的消息后，备受业内和粉丝关注的的《仙剑奇侠传》大电影终于在今日低调开机，并有多张开机现场图于网络曝光，只是未见演员身影。
                        有媒体向唐人电影核实这一消息，对方表示，电影确实于今日开拍，但对于演员何时入组和女主角人选问题则不方便透露。另有知情博主透露开机地点为雁荡山...........
                    </a>
                </div>
                <div>
                    <img class="thumbnail" style=" width: 49%;display: inline-block" src="~/Images/a.jpg" />
                    <img class="thumbnail" style=" width: 49%;display: inline-block" src="~/Images/a.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-2"></div>
                    <button type="button" class="btn btn-default btn-sm col-xs-2">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 赞
                    </button>
                    <button type="button" class="btn btn-default btn-sm col-xs-2">
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 踩
                    </button>
                    <button type="button" class="btn btn-default btn-sm col-xs-2">
                        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> 转发
                    </button>
                    <button type="button" class="btn btn-default btn-sm col-xs-2">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        收藏
                    </button>
                    <button class="btn btn-default btn-sm col-xs-2" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">

                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        评论
                    </button>
                </div>
                <div class="collapse" id="collapseExample2">
                    <div class="well" style="background-color: #ffffff">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="well well-sm" style="margin-bottom:1px;border:none">不错，很期待</div>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="well well-sm" style="margin-bottom:1px;border:none">什么时候上映</div>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="well well-sm" style="margin-bottom:1px;border:none">刘亦菲弱爆了,安以轩很不错</div>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="well well-sm" style="margin-bottom:1px;border:none">胡歌演技碉堡</div>
                    </div>
                    <div class="input-group">
                        <input class="form-control" placeholder="评论......." type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">评论</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success" style="box-shadow:2px 2px 3px #aaaaaa">
            <div class="panel-heading">
                <label class="title">《仙剑奇侠传》电影版开机 胡歌回归刘亦菲未定</label>
            </div>
            <div class="panel-body">
                <div>
                    <a class="btn-link">
                        时光网讯 今日微博盛传电影版《仙剑奇侠传》低调开机，并附有几张现场图片，但却未见演员身影。
                        继今年4月官方曝出将拍摄电影版的消息后，备受业内和粉丝关注的的《仙剑奇侠传》大电影终于在今日低调开机，并有多张开机现场图于网络曝光，只是未见演员身影。
                        有媒体向唐人电影核实这一消息，对方表示，电影确实于今日开拍，但对于演员何时入组和女主角人选问题则不方便透露。另有知情博主透露开机地点为雁荡山...........
                    </a>
                </div>
                <div>
                    <img class="thumbnail" style=" width: 49%;display: inline-block" src="~/Images/a.jpg" />
                    <img class="thumbnail" style=" width: 49%;display: inline-block" src="~/Images/a.jpg" />
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-2"></div>
                    <button type="button" class="btn btn-default btn-sm col-xs-2">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 赞</button>
                    <button type="button" class="btn btn-default btn-sm col-xs-2">
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 踩
                    </button>
                    <button type="button" class="btn btn-default btn-sm col-xs-2">
                        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> 转发
                    </button>
                    <button type="button" class="btn btn-default btn-sm col-xs-2">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        收藏
                    </button>
                    <button type="button" class="btn btn-default btn-sm col-xs-2" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        评论
                    </button>
                </div>
                <div class="collapse" id="collapseExample3">
                    <div class="well" style="background-color: #ffffff">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="well well-sm" style="margin-bottom:1px;border:none">不错，很期待</div>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="well well-sm" style="margin-bottom:1px;border:none">什么时候上映</div>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="well well-sm" style="margin-bottom:1px;border:none">刘亦菲弱爆了,安以轩很不错</div>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="well well-sm" style="margin-bottom:1px;border:none">胡歌演技碉堡</div>
                    </div>
                    <div class="input-group">
                        <input class="form-control" placeholder="评论......." type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">评论</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron">
            <h3>明天你好!</h3>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>

        <div class="alert alert-success" role="alert">
            <strong>Well done!</strong> You successfully read this important alert message.
        </div>
        <div class="alert alert-info" role="alert">
            <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
        </div>
        <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </div>
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
        </div>

        <div class="row show-grid">
            <div class="col-md-6">col-md-6</div>
            <div class="col-md-6">col-md-6</div>
        </div>
        <div class="row show-grid">
            <div class="col-md-4">col-md-4</div>
            <div class="col-md-4">col-md-4</div>
            <div class="col-md-4">col-md-4</div>
        </div>

        <div class="row">
            <div class="panel panel-danger">
                <div class="panel-body">
                    panel-content
                </div>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-danger col-md-6">
                <div class="panel-body">
                    panel-body
                </div>
            </div>
            <div class="panel panel-danger col-md-6">
                <div class="panel-body">
                    panel-body
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 panel-body">
        @Html.Partial("_RightBar")
    </div>
</div>