@{
    ViewBag.Title = "Jsonp";
}

<style type="text/css">
    table {
        border-collapse: collapse;
    }

    th {
        background-color: #005CA0;
        font-family: "Copperplate Gothic";
        color: white
    }

    td, th {
        border: 1px solid #005bae;
        width: 200px;
        text-align: center;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnJsonp").click(GetInfo);
        $("#btnLoadJs").click(GetJS);
    });
    function GetJS() {
        var _doc = document.getElementsByTagName('head')[0];
        var js = document.createElement('script');
        js.setAttribute('type', 'text/javascript');
        js.setAttribute('src', "../Scripts/func.js");
        _doc.appendChild(js);
        js.onload = function () {
            var json = GetInfo();
            var tb = $("#tbJp tbody");
            tb.empty();
            $.each(json,
                function (index, obj) {
                    tb.append("<tr><td>" + obj.Name + "</td><td>" + obj.Description + "</td></tr>");
                });
        }
    }
    function GetInfo() {
        $.ajax({
            type: "get",
            async: false,
            url: "http://localhost:807/ajax/jsonpDemo",
            dataType: "jsonp",
            jsonp: "CallBack",
            success: function (jsonobj) {
                if (jsonobj && jsonobj.length > 0) {
                    var tb = $("#tbJp tbody");
                    tb.empty();
                    $.each(jsonobj,
                        function (index, obj) {
                            tb.append("<tr><td>" + obj.Name + "</td><td>" + obj.Description + "</td></tr>");
                        });
                }
            }
        });
    }
</script>

<input type="button" class="btn btn-default" value="JsonP" id="btnJsonp" />
<input type="button" class="btn btn-default" value="LoadJs" id="btnLoadJs" />

<table class="table" id="tbJp">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
