<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="AdventureWorks" connectionString="Server=127.0.0.1;Initial Catalog=AdventureWorks;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
